################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AuthenticationServer/v16/Server/sqlite3
/.vs/AuthenticationServer/config/applicationhost.config
/AuthenticationServer/bin/Debug/netcoreapp3.1
/AuthenticationServer/obj/Debug/netcoreapp3.1/Razor/Views
/AuthenticationServer/obj/Debug/netcoreapp3.1/staticwebassets
/AuthenticationServer.Core/bin/Debug/netcoreapp3.1
/AuthenticationServer.Infrastructure/bin/Debug/netcoreapp3.1
/AuthenticationServer.Core/obj/Debug/netcoreapp3.1/AuthenticationServer.Core.pdb
/AuthenticationServer.Core/obj/Debug/netcoreapp3.1/AuthenticationServer.Core.dll
/AuthenticationServer.Core/obj/Debug/netcoreapp3.1/AuthenticationServer.Core.csproj.FileListAbsolute.txt
/AuthenticationServer.Infrastructure/obj/Debug/netcoreapp3.1/AuthenticationServer.Infrastructure.pdb
/AuthenticationServer.Infrastructure/obj/Debug/netcoreapp3.1/AuthenticationServer.Infrastructure.dll
/AuthenticationServer.Infrastructure/obj/Debug/netcoreapp3.1/AuthenticationServer.Infrastructure.csproj.FileListAbsolute.txt
/AuthenticationServer/obj/Debug/netcoreapp3.1/AuthenticationServer.Views.pdb
/AuthenticationServer/obj/Debug/netcoreapp3.1/AuthenticationServer.Views.dll
/AuthenticationServer/obj/Debug/netcoreapp3.1/AuthenticationServer.TagHelpers.output.cache
/AuthenticationServer/obj/Debug/netcoreapp3.1/AuthenticationServer.TagHelpers.input.cache
/AuthenticationServer/obj/Debug/netcoreapp3.1/AuthenticationServer.RazorTargetAssemblyInfo.cs
/AuthenticationServer/obj/Debug/netcoreapp3.1/AuthenticationServer.RazorTargetAssemblyInfo.cache
/AuthenticationServer/obj/Debug/netcoreapp3.1/AuthenticationServer.RazorCoreGenerate.cache
/AuthenticationServer/obj/Debug/netcoreapp3.1/AuthenticationServer.RazorAssemblyInfo.cs
/AuthenticationServer/obj/Debug/netcoreapp3.1/AuthenticationServer.RazorAssemblyInfo.cache
/AuthenticationServer/obj/Debug/netcoreapp3.1/AuthenticationServer.pdb
/AuthenticationServer/obj/Debug/netcoreapp3.1/AuthenticationServer.MvcApplicationPartsAssemblyInfo.cache
/AuthenticationServer/obj/Debug/netcoreapp3.1/AuthenticationServer.exe
/AuthenticationServer/obj/Debug/netcoreapp3.1/AuthenticationServer.dll
/AuthenticationServer/obj/Debug/netcoreapp3.1/AuthenticationServer.csproj.FileListAbsolute.txt
/AuthenticationServer/obj/Debug/netcoreapp3.1/AuthenticationServer.csproj.CopyComplete
