################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AuthenticationServer/v16
/AuthenticationServer/bin
/AuthenticationServer/obj
/AuthenticationServer.Infrastructure/bin
/AuthenticationServer.Infrastructure/obj
/AuthenticationServer.Infrastructure/Migrations
/AuthenticationServer.Core/obj
/AuthenticationServer.Core/bin

/.vs/AuthenticationServer/config
