<h1>Login Page</h1>

<div>
    <h2> Local Login </h2>
    
    <form asp-route="" >
        <input type="hidden" asp-for=""/>
        
        <fieldset>
            <div>
                <label asp-for=""></label>
                <input placeholder="Username" asp-for="" autofocus="" />
            </div>
            
            <div>
                <label asp-for=""></label>
                <input type="password" placeholder="Password" asp-for="" autofocus="" />
            </div>
            
            <div>
                <label asp-for="">
                    <input type="checkbox" asp-for="">
                    <strong>Remember My Login</strong>
                </label>
            </div>

            <div>
                <button name="button" value="login">Login</button>
                <button name="button" value="cancel">Cancel</button>
            </div>

        </fieldset>
    </form>
</div>
