@model AuthenticationServer.Models.Login.LoginViewModel

<h1>Login Page</h1>

<div>
    <h2> Local Login </h2>
    
    <form asp-route="Login" >
        <input type="hidden" asp-for="ReturnUrl"/>
        
        @if (Model.NewAccount)
        {
            <div>
                Account created successfully!
            </div>
        }

        <fieldset>
            <div>
                <label asp-for="Username"></label>
                <input placeholder="Username" asp-for="Username" autofocus>
            </div>
            
            <div>
                <label asp-for="Password"></label>
                <input type="password" placeholder="Password" asp-for="Password" autofocus>
            </div>
            
            <div>
                <label asp-for="">
                    <input type="checkbox" asp-for="">
                    <strong>Remember My Login</strong>
                </label>
            </div>

            <div>
                <button name="button" value="login">Login</button>
                <button name="button" value="cancel">Cancel</button>
            </div>
        </fieldset>
        <partial name="_ValidationSummary"/>
    </form>
</div>
